flows_Vladimirs-MacBook-Pro.local.json
[{"id":"12d0fe0b.cc7a42","type":"tab","label":"AugmentedTheatre Control","disabled":false,"info":""},{"id":"dec0aae0.212ac8","type":"ui_tab","z":"","name":"AugmentedTheatre NODE","icon":"dashboard"},{"id":"93fcf982.69e248","type":"ui_group","z":"","name":"Группа 1","tab":"dec0aae0.212ac8","disp":true,"width":"7"},{"id":"3e359b9b.2d3df4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#ce2d0e","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#ce2d0e","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#f15537","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ce2d0e","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":158,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ca242bf6.ea8c38","type":"udp in","z":"12d0fe0b.cc7a42","name":"","iface":"","port":"3001","ipv":"udp4","multicast":"false","group":"192.168.1.3","datatype":"buffer","x":80,"y":340,"wires":[["83597bb2.c99498"]]},{"id":"83597bb2.c99498","type":"osc","z":"12d0fe0b.cc7a42","name":"","path":"","metadata":false,"x":210,"y":400,"wires":[["4d4c62f7.44e0dc"]]},{"id":"4d4c62f7.44e0dc","type":"function","z":"12d0fe0b.cc7a42","name":"Decide track","func":"const beaconTracks = [];\nbeaconTracks.push({beacon:'Exit 1 blue', track:'exit1_track1.mp3'});\nbeaconTracks.push({beacon:'Exit 2 blueberry', track:'exit2_track1.mp3'});\nbeaconTracks.push({beacon:'Exit 3 mint', track:'exit3_track1.mp3'});\nvar newBeacon = msg.payload[0];\n\nlet beaconTrack = beaconTracks.find(bt => {\n    if (newBeacon === bt.beacon) {\n        return true;\n    }\n});\nlet ip = msg.payload[2];\nlet currentlyPlayingTrack = msg.payload[3];\nlet shouldPlayTrack = beaconTrack ? beaconTrack.track : 'NONE';\n\nreturn [{ payload: shouldPlayTrack, 'ip': ip }, { payload: {'ip': ip, 'shouldPlayTrack': shouldPlayTrack, 'currentTrack': currentlyPlayingTrack}}];\n","outputs":"2","noerr":0,"x":370,"y":320,"wires":[["5f260092.e4363"],["2bde4606.23530a"]]},{"id":"5f260092.e4363","type":"osc","z":"12d0fe0b.cc7a42","name":"","path":"/cloudaudio/1","metadata":false,"x":730,"y":360,"wires":[["1ff85776.8c4229"]]},{"id":"1ff85776.8c4229","type":"udp out","z":"12d0fe0b.cc7a42","name":"","addr":"","iface":"","port":"3000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":909,"y":364,"wires":[]},{"id":"27fd5dac.e17002","type":"function","z":"12d0fe0b.cc7a42","name":"to OSC","func":"\nlet track = 'exit2_track1.mp3';\n\nreturn { payload: msg.payload.track, 'ip': msg.payload.ip };\n","outputs":"1","noerr":0,"x":620,"y":520,"wires":[["5f260092.e4363"]]},{"id":"2bde4606.23530a","type":"ui_template","z":"12d0fe0b.cc7a42","group":"93fcf982.69e248","name":"Разделяй и Властвуй","order":0,"width":"0","height":"0","format":"<table>\n<tbody>\n    <tr>\n         <th>IP</th><th>Should</th><th>Is</th><th>all</th><th>action</th>\n    </tr>\n    <tr ng-repeat=\"x in table track by $index\">\n        <td>{{x.ip}}</td>\n        <td>{{x.shouldBeTrack}}</td>\n        <td>{{x.currentTrack}}</td>\n        <td>\n          <select ng-model=\"x.tracks.value\" ng-options=\"y for y in x.tracks.values\" ng-click=\"setTrack(x, y)\">\n          </select>\n        </td>\n        <td>\n          <md-button ng-click=\"send({payload:action($index)})\">\n            force\n          </md-button>\n        </td>\n    </tr>\n</tbody> \n</table>\n<style>\ntable, td  {\n  border: 1px solid grey;\n  border-collapse: collapse;\n  padding: 5px;\n}\n</style>\n<script>\n    map = new Map();\n    allTracks1 = [\"exit1_track1.mp3\", \"exit2_track1.mp3\", \"exit3_track1.mp3\"];\n\n    allTracks = {\n        \"type\": \"select\",\n        \"value\": \"exit1_track1.mp3\",\n        \"values\": [\"exit1_track1.mp3\", \"exit2_track1.mp3\", \"exit3_track1.mp3\"] \n    };\n    (function(scope) {\n        'use strict';\n        scope.setTrack = function (row, track) {\n\n            const index = row.tracks.values.indexOf(track);\n            if (index === -1) return;\n    \n            const newValue = row.tracks.values[index];\n            row.tracks.value = newValue;\n        };\n        \n        scope.$watch('msg', function (newValue, oldValue, scope) {\n            const msg = scope.msg;\n            if (msg && msg.payload && msg.payload.ip && msg.payload.shouldPlayTrack) {\n                map.set(msg.payload.ip, {'ip': msg.payload.ip, \n                'currentTrack': msg.payload.currentTrack,\n                'shouldBeTrack': msg.payload.shouldPlayTrack,\n                'tracks': allTracks\n                });\n                //let mapAsc = map.sort();//(a,b) => {a > b ? 1 : a < b ? -1 : 0});\n                map = new Map([...map.entries()].sort((a,b) => {\n                \tlet aa = a[0].split(\".\");\n                \tlet bb = b[0].split(\".\");\n                \t\n                    let resulta = aa[0]*0x1000000 + aa[1]*0x10000 + aa[2]*0x100 + aa[3]*1;\n                    let resultb = bb[0]*0x1000000 + bb[1]*0x10000 + bb[2]*0x100 + bb[3]*1;\n                \t\n                \treturn resulta-resultb;\n                }));\n\n                scope.table = Array.from(map.values());\n            }\n            scope.action = function(idx) {\n                let ips = Array.from(map.keys());\n                let ip = ips[idx];\n                let row = map.get(ip);\n                if (row.tracks.value && ip) {\n                    console.log('force track='+ row.tracks.value + ' ip=' + ip)\n                    return {'track' : row.tracks.value, 'ip' : ip};\n                }\n            }\n        });\n    })(scope);    \n</script>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":360,"y":580,"wires":[["27fd5dac.e17002"]]}]